@charset "UTF-8";

/*--Author: Krista Alexander
    Date: July 26 2021
    Assignment: onlineProfile
    File Name: styles.css
*/

/* CSS Variables */

:root {
  --primary: #777;
  --dark: #282E34;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* style body, html, and background images */

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: var(--primary);
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("images/linkedin-bkg.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("images/pinkfloral.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("images/texture.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: var(--light);
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/* style fonts and texts*/

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

p, li {
  font: 20px "Lato", sans-serif;
  color: #111;
  list-style: circle;
}

a:link {
  color: var(--primary);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: var(--primary);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: var(--dark);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: #111;
  background-color: transparent;
  text-decoration: none;
}

.center-text {
  color: var(--dark);
  text-align: center;
}

.border {
   font-size:25px;
   color: var(--dark);
}

/* style main div containers */

/* base styles for all main div containers */
.about, .education, .skills {
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

/* alternating text and bg colors */

.about {
  color: var(--primary);
  background-color: white;
}

.education {
  color:#ddd;
  background-color:var(--dark);
}

.skills {
  color: var(--primary);
  background-color: white;
  display: flex;
}

/* style flex boxes and columns */

.column-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.columns {
  margin: 50px;
  padding: 1em;
  width: 355px;
  background-color: var(--primary);
  box-shadow: var(--shadow);
}

/* style responsive image gallery */

div.gallery {
  border: 2px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

/* Style social and contact links */

.fa-at, .fa-instagram, .fa-linkedin-in  {
  font-size: 2em;
  padding-right: .5em;
  color: var(--primary);
}

.fa-at:hover, .fa-instagram:hover, .fa-linkedin-in:hover  {
  color: var(--dark);
  font-size: 3em;
}

footer {
  background-color: transparent;
  padding: 10px 0px 10px 0px;
}

/* begin responsive styles at varying viewport sizes */

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }

  .columns {
  flex-shrink: 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* disable parallax scrolling for tablets and phones */
@media only screen and (max-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
